/* TIPOGRAFIAS */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0rem;
    padding: 0rem;
    border: 0rem;
    box-sizing: border-box;
}

body{
    background-color: #f0ebe6;
}


/* ------ Header ------- */

header{
    display: flex;
    flex-direction: row;
    background-color: #fff0dc;
    justify-content: space-between;
    align-items: center;
}
.abrir-menu, 
.cerrar-menu{
    display: none;
}

.logo1{
    width: 120px;
    margin: 5px 0px 0px 3.125rem;
}

.nav-bar{
    display: flex;
    list-style-type: none;
    gap: 3.75rem;
    flex-wrap: wrap;
    margin-right: 3.125rem;
    align-items: center;
}

.nav-bar li {
    margin: 0;
    padding: 5px;
}

.nav-bar li a{
    color:#2c2c2c;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding: 5px ;
}

.opc:hover{
    background-color: #ffc862a6;
    border-radius: 25px;
}

/* ------ FOOTER ------- */

footer{
    display: flex;
    flex-direction: row;
    background-color: #ffe8c9;        
    justify-content: space-between;     
    align-items: center;
}

.info-footer,
.redes-footer{
    padding: 0.625rem;
    margin: 10px 100px 30px 100px;
}

.info-footer p{
    font-family: "Lato";
    font-size: 20px;
    font-weight: 400;
    margin-left: 10px;
    text-align: center;
}

.info-footer div{
    display: flex;
    margin: 10px;
}

.icon-contac {
    width:25px;
}

.icono-redes{
    width:30px;
}

.info-footer div p{
    font-size: 14px;
}

.logo3{
    width: 150px;
}

.redes-sociales{
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.875rem;
}


/* ------- Imagen y titulos principales ------- */

.cont-imagen-titulo{
    margin-bottom: 70px;
}

.imagen-principal{

    width: 100%;
    height: auto;
    background-position: center;
    position: absolute;
    z-index: -1;
}   

.contenedor1{
    display: flex;
    flex-direction: column;
}

.contenedor1 h1{
    margin:100px 100px 10px 50px;

    color: #ffffff; 
    font-family: "Lato", sans-serif;
    font-size: 50px;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    padding: 5px ;
}

.contenedor1 h2 {
    margin:10px 100px 20px 70px;
    color:#ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
}

.cont-button{
    margin: 10px 100px 20px 70px;
}

.cont-button a button {
    color: #6b742c;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    background-color: #FFFFFF;
    padding: 15px;
    cursor: pointer;
    
}


/* ----- BODY PAG-PINCIPAL ------*/

.cuerpo-pag{
    margin-left: 100px;
    margin-right: 100px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.logo2{
    width: 300px;
    margin-bottom: 30px;
}

.cuerpo-pag h3{
    margin: 10px;
    font-family: "Lato";
    font-size: 50px;
    font-weight: 300;
    
}

.cuerpo-pag article p {
    margin: 20px;
    font-family: "Lato";
    font-size: 20px;
    font-weight: 300;
}

.contenedor2{
    margin-top: 30px;
    background: #4eaede;
    background: linear-gradient(305deg,rgba(78, 174, 222, 0.651) 10%, rgba(176, 222, 78, 0.664) 41%, rgba(242, 204, 90, 0.603) 65%, rgba(252, 146, 201, 0.623) 87%);
    border-radius: 30px 30px 30px 30px;
    overflow: hidden;

    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.contenedor2 div{
    margin-right: 30px;
    margin-left: 10px;
}

.contenedor2 div h3 {
    font-family: "Lato";
    font-size: 24px;
    font-weight: 600;
}

.contenedor2 div p {
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
}

.cont-lista {
    margin: 15px;
}

.cont-lista ul li {
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
}

.cont-ubic{
    margin: 50px;
    padding: 20px;
    background-color: lightgray;
    width: 100%;
    border-radius: 30px;
}

.titl {
    font-family: "Lato";
    font-size: 24px;
    font-weight: 400;
    margin-left: 10px;
    text-align: center;

}

.cont-ubic div{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.cont-ubic div ul {
    list-style-type: none;
}

.cont-ubic div ul li {
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
    text-align: center;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center; 
}

.icon-mano{
    width: 30px;
}



/* ----- RESEÑAS ----- */

.box-resenias{
    margin: 20px;
    
}

.carrusel-wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
    padding: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

.contenedor-resen{
    display: flex;
    gap: 20px;
    animation: deslizar 20s linear infinite;
    justify-content: space-between;
}

.card-resen{
    flex: 0 0 300px; 
    background-image: 
        linear-gradient(
            to top left, rgba(255, 182, 193, 0.76) , rgba(56, 25, 85, 0.705)
        );
    border-radius: 8px;
    padding: 15px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}

.encabezado-resen{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.estrellas{
    color: rgb(255, 217, 0);
    font-size: 18px;
    
}

.nombre-resen{
    font-family: "Lato";
    font-weight: bold;
    font-size: 14px;
}

.fecha-resen{
    font-family: "Lato";
    font-size: 12px;
    color: rgb(223, 223, 223);
}

.resen{
    font-family: "Lato";
    font-size: 14px;
}

@keyframes deslizar {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}






/* ------ PAG - PIJAMAS --------- */



/*--- Galerias de imagenes ---*/


.galeria2 div{
    position: relative;
}

.galeria2{
    margin-top: 4.6875rem;
    margin-bottom: 3.125rem;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-column-gap: 4.6875rem;
    grid-row-gap: 3.125rem;
}

.imag-temat{
    border-radius: 100%;
    width: 150px;
    height: 150px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imag-temat:hover {
    transform: scale(1.15); 
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.galeria2 div h3 {
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}


.link-pijamadas{
    text-decoration: none;
    color:#2c2c2c
}



.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    perspective: 1000px;
    margin-bottom: 100px; 
}

.cards {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card {
    width: 300px;
    height: 450px;
    background-image: 
        linear-gradient(
            to top right, lightpink , lightblue
        );
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s ease, z-index 0.5s ease;
    transform: scale(0.8);
    z-index: 1;
    
}

.card.active {
    transform: scale(1) translateY(-10px);
    background-image: 
        linear-gradient(
            to bottom right, lightgreen , lightsalmon
        );
    z-index: 2;
    
}

.contenido{
    display: flex;
    flex-direction: column;
    margin: 10px;
    list-style-type: none;
}

.contenido h2{
    font-family: "Lato";
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    margin: 10px;
}

.contenido h3{
    font-family: "Lato";
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

.contenido h4{
    font-family: "Lato";
    font-weight: 300;
    font-style:initial;
    font-size: 18px;
    text-align: justify;
    margin: 10px;
}

.contenido ul li{
    font-family: "Lato";
    font-weight: 300;
    font-size: 15px;
    text-align: justify;
    margin: 3px 10px 3px 10px;
}

.lista-items{
    list-style-type: none;
}


.button-reserva a button {
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin:5px;
    padding: 7px;
    border-radius: 15px;
}

.button-reserva{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}




/* ------ PAG - SobreNosotros ------- */

.img-principal {
    width: 100%;
    height: auto;
    background-position: center;
}

.icon-titulo{
    margin-bottom: 50px;
}

.titulos{
    font-family: "Lato";
    font-size: 28px;
    font-weight: 400;
    margin-left: 10px;
    text-align: center;
    margin-bottom: 20px;
    
}

.subtitulos {
    font-family: "Lato";
    font-size: 24px;
    font-weight: 400;
    margin-left: 10px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

.texto-gral{
    font-family: "Lato";
    font-weight: 300;
    font-style: normal;
    font-size: 18px;

    text-align: justify;
    line-height: 1.6em;
    padding-top: 10px;
    margin: 20px 10px 70px .625rem;
    
}

.texto-video{
    font-family: "Lato";
    font-weight: 300;
    font-style: normal;
    font-size: 16px;

    text-align: justify;
    line-height: 1.6em;
    padding-top: 10px;
    margin: 20px 10px 70px .625rem;
}

.cont-video-texto {
    display: flex;
    flex-direction: row;
    margin: 30px 0px;
    padding: 10px;
    background-color: rgb(212, 226, 162);
    border-radius: 1.875rem;
}

.video1{
    width: 18%;
    margin: 25px;
}

.link-ig{
    color:rgb(214, 135, 148);
    text-decoration: none;
    font-weight: 500;   
}


/*--------------------------------------*/

/*--- Galerias de imagenes ---*/


.galeria div{
    position: relative;
}

.galeria{
    margin-top: 4.6875rem;
    margin-bottom: 1.5625rem;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-column-gap: .125rem;
    grid-row-gap: .125rem;

    grid-template-areas: 
    "div1 div1 div2 div3"
    "div4 div5 div6 div3";

}

.div1{ grid-area: div1;}
.div2{ grid-area: div2;}
.div3{ grid-area: div3;}
.div4{ grid-area: div4;}
.div5{ grid-area: div5;}
.div6{ grid-area: div6;}

.galeria img{
	height: 100%;
    width: 100%;
    object-fit: cover;
}


/*--------------------------------------*/

/* MODAL */

.modal {
    display: none; 
    position: fixed;
    z-index: 999; /* Sobre todo */
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.616); /* Fondo oscuro semi-transparente */
}

.modal-contenido {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.541);
    border-radius: 4px;
}

.cerrar {
    position: absolute;
    top: 30px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.cerrar:hover,
.cerrar:focus {
    color: #bbb;
}












/* ------ PAG - Contacto -------- */

.contenedor-icon{
    display: flex;
    flex-direction: row;   
    justify-content: space-between;     
    align-items: center;
    margin-top: 45px;
    margin-bottom: 4.6875rem;
}

.icon-redes-contacto {
    display: flex;
    list-style-type: none;
    gap: 3.75rem;
    flex-wrap: wrap;
    align-items: center;
}

.icono-redes2{
    width: 75px;
}


.texto-form{
    font-family: "Lato";
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    margin: 10px;
}

.formulario{
    background: #4eaede;
    background: linear-gradient(305deg, rgba(78, 174, 222, 0.55) 10%, rgba(176, 222, 78, 0.52) 41%, rgba(242, 204, 90, 0.5) 65%, rgba(252, 146, 201, 0.5) 87%);
    border-radius: 30px 30px 30px 30px;
    overflow: hidden;
    padding: 20px;

    width: 600px;
    height: 600px;
}

.contenedor-datos-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
}

.formulario p label input{
    width: 300px;
    height: 25px;
    padding: 15px;
    margin:5px;
    border-radius: 30px 30px 30px 30px;
}

.formulario p label textarea{
    width: 450px;
    height: 150px;
    padding: 15px;
    border-radius: 30px 30px 30px 30px;

    margin-top: 10px;
}

.img-form{
    width: 150px;
}

.caja-comentario{
    font-family: "Lato";
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    
    margin-left: 50px;
    margin-right: 50px;
}

.boton-enviar {
    padding: 10px 50px;
    margin-right: 70px;
    border-radius: 30px 30px 30px 30px;
    margin-top: 10px;
    float: right;
}









/* ---------------- PAGINAS DE PIJAMADAS ----------------- */

.contenedor-principal{
    margin: 20px 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-pijamadas{
    display: flex;
    flex-direction: row;
    gap: 20px;              
}

.contenedor .text-pijamadas {
    width: 50%;
}

.img-pijamadas{
    width: 35%;
    border-radius: 10px;
}

.galeria-zoom{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.galeria-zoom img {
    width: 250px; 
    height: 300px;
    object-fit: cover; /* Recorta para que llene el espacio sin deformarse */
    display: block;
    transition: transform 0.4s ease; 
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.541);
}

.galeria-zoom img:hover {
    transform: scale(1.10); 
}







